<!DOCTYPE html>
<meta charset="utf-8" />
<head>
	<link rel="stylesheet" href="/css/style.css">
</head>
<title>Greeder</title>

<div class="layout">
	<div class="flex-row">
		<div class="menu">
			<div class="flex-column">
				<span class="caption">Hello, {{uid}}</span>
				<span class="vertical-indent"></span>
				<a href="/">Список лент</a>
				<a href="/management">Управление лентами</a>
			</div>
		</div>
		<div class="content">
			<h3>Список лент</h3>
			<div id="feed-list">
				{{#each feeds}}
				<div class="flex-column feed-item">
					<div class="caption"><a href="/feed/{{key}}">{{title}}</a></div>
					<div class="text-muted">{{description}}</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
