<!DOCTYPE html>
<meta charset="utf-8" />
<head>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/http.js"></script>
	<script src="/js/templater.js"></script>
	<script src="/js/management.js"></script>
</head>
<title>Greeder</title>

<div class="layout">
	<div class="flex-row">
		<div class="menu">
			<div class="flex-column">
				<span class="caption">Hello, {{uid}}</span>
				<span class="vertical-indent"></span>
				<a href="/">Список лент</a>
				<a href="/management">Управление лентами</a>
			</div>
		</div>
		<div class="content">
			<h3>Добавление ленты</h3>
			<div class="flex-column">
				<div class="flex-row">
					<input id="url-add">
					<div class="btn" id="url-add-button">Добавить</div>
				</div>
				<span id="addition-status" class="muted-text"></span>
			</div>
			<h3>Управление лентами</h3>
			<div id="subscription-list"></div>
			<div id="other-list"></div>
		</div>
	</div>
</div>

<template id="sub-template">
	<div class="flex-column feed-item">
		<div class="flex-row flex-spread">
			<div>
				<div class="caption"><a href="/feed/((id))">((title))</a></div>
				<div class="text-muted">((description))</div>
			</div>
			<div class="control-side">
				<div class="btn unsub-btn" data-unsub="((id))">Отписаться</div>
			</div>
		</div>
	</div>
</template>

<template id="feed-template">
	<div class="flex-column feed-item">
		<div class="flex-row flex-spread">
			<div>
				<div class="caption"><a href="/feed/((id))">((title))</a></div>
				<div class="text-muted">((description))</div>
			</div>
			<div class="control-side">
				<div class="btn sub-btn" data-sub="((id))">Подписаться</div>
			</div>
		</div>
	</div>
</template>
