body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

a {
	text-decoration: none;
	color: black;
}

* {
	font-family: 'PT Sans'
}

.layout {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.flex-row {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: stretch;
}

.center {
	justify-content: center;
	text-align: center;
}

.cross-center {
	align-items: center;
}

.error {
	font-size: 100px;
}

.muted-text {
	font-size: small;
	color: gray;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.menu {
	width: 400px;
	box-sizing: border-box;
	height: 100%;
	border-right: 3px solid rgb(237, 241, 241);
	padding: 20px;
}

.content {
	padding-left: 25px;
	width: 100%;
}

.caption {
	font-weight: bold;
}

.vertical-indent {
	padding-top: 30px;
}

.feed-item {
	display: inline-block;
	width: 700px;
	margin-bottom: 15px;
	padding-bottom: 3px;
	padding-left: 7px;
	border-bottom: 1px solid rgb(237, 241, 241);
}

.desc {
	font-size: small;
	color: gray;
}

.feed-item:hover {
	border-left: 2px dashed orange;
	padding-left: 5px;
}

.arrow {
	color: silver;
}

.entry-content {
	margin-top: 40px;
}

.btn {
	border: 1px solid orange;
	border-radius: 3px;
	padding: 7px;
	cursor: pointer;
}

.sub-btn {
	border-color: blue;
}

.flex-spread {
	justify-content: space-between;;
}